article section {
    margin-bottom: 1.5em;
    margin-right: 224px;
	display: block;
}

article section section {
    margin-right: 0px;
}

article section img {
    display: block;
    margin: 0.3em;
    margin-left: auto;
    margin-right: auto;
}
/*---------------------------------------------------*/
.sidebox{
	background: url(../images/bg_sidebox.png) no-repeat top;
	padding-top: 20px;
	line-height: 1.2;
}
.sidebox .wrapper{
	background: url(../images/bg_sidebox.png) no-repeat bottom;
	padding: 0 20px 20px 20px;	
}
aside{
	display: block;
	width: 216px;
	float: right;
}
/*----------------------------------------------------*/
#download ul.icons{
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}
#download ul.icons li{
	margin-right: 24px;
	float: left;
}
#download ul.icons li a{
	background: no-repeat top;
	background-image: url(../images/menu_source.png);
	width: 82px;
	height: 82px;
	display: block;
	text-decoration: none;
	text-indent: -10000px;
}
#download ul.icons li a:hover,
#download ul.icons li a.active{
	background-position: bottom;
}
#download ul.icons li a.windows{	background-image: url(../images/menu_windows.png);	}
#download ul.icons li a.ubuntu{	background-image: url(../images/menu_ubuntu.png);	}
#download ul.icons li a.debian{	background-image: url(../images/menu_debian.png);	}
#download ul.icons li a.osx,
#download ul.icons li a.mac_os_x{	background-image: url(../images/menu_osx.png);	}
#download ul.icons li a.opensuse{	background-image: url(../images/menu_suse.png);	}
