<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{% if page.tagline %}{{ page.tagline | strip_html }}{% else %}Midgard{% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    {% if page.favicon %}
    <link rel="shortcut icon" href="{{ page.favicon }}" type="image/png" />
    {% else %}
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
    {% endif %}
    <link type="text/css" rel="stylesheet" href="/css/style.css"
    />
    {% if page.custom_css %}
    <link type="text/css" rel="stylesheet" href="{{ page.custom_css }}" />
    {% endif %}
    <link type="text/css" rel="stylesheet" href="/css/custom-theme/jquery-ui-1.8.6.custom.css"
    />
    <link href="http://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet" type="text/css" />
    <link rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" type="text/html" />
    {% for js in page.custom_js %}
    <script src="{{ js }}" type="application/javascript"></script>
    {% endfor %}
    <!--[if IE]>
      <script>
        for (var e, l = 'article aside footer header nav section time'.split(' '); e = l.pop(); document.createElement(e))
      </script>
    <![endif]-->
    <script type="text/javascript">var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-75936-8']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  
  <body xmlns:mgd="http://www.midgard-project.org/midgard2/9.03/" xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:doap="http://usefulinc.com/ns/doap#" xmlns:sioc="http://rdfs.org/sioc/ns#"
  xmlns:dcterms="http://purl.org/dc/terms/">
    <div id="main_center">
      <header>
      {% if page.github %} 
        <div class="github_fork">
          <a href="{{ page.github }}"><img src="/images/fork-me.png" alt="Fork me on GitHub" /></a>
        </div>
        {% endif %}
        <div class="wcenterwrapper">
          {% if page.logo %} 
          <div class="logo">
            <img src="{{ page.logo }}" alt="{{ page.title }}" />
          </div>
          {% endif %}
          <h1>{{ page.title }}</h1>
          <div class="tagline">{{ page.tagline }}</div>
        </div>
      </header>
      <div id="center">
        {{ content }}
      </div>
      <div class="push"></div>
    </div>
    <footer>
      <div class="wrapper">
        <a href="/" style="margin-right: 0;"><img src="/images/logo_m.png" alt="Midgard" class="logo" /></a>
        <a href="http://lists.midgard-project.org/">join our mailing list</a>
        <a href="http://twitter.com/MidgardProject">follow us on Twitter</a>
        <a href="irc://irc.freenode.net/midgard">chat with us on #midgard</a>
        <br/>powered by Free Software</div>
      </footer>
  </body>

</html>
